$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$default-font-size: 1.6rem;

$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Media query manager
/* 1em = 16px
0 - 600px:      Phone
600 - 900px:    Tablet portrait         37.5em
900 - 1200px:   Tablet landscape        56.25em
[1200 - 1800px] is normal styles apply  75em
1800px + : big desktop                  112.5em
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }
}
