.clockZone {
  width: 95%;
  margin-top: 2rem;
  // background-color: teal;
  display: flex;
  flex-direction: column;

  @include respond(big-desktop) {
    max-width: 50%;
  }

  &__grid {
    padding: 1rem 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 50px;

    &--city-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    &--time {
      // align-self: cneter;
    }

    &:nth-child(odd) {
      color: white;
      background-color: black;
    }
  }

  &__grid + &__grid {
    border-top: 0;
  }
}
